<h1>Reserva de Sala</h1>

<table>
  <thead>
    <tr>
      <th>Horário</th>
      <%- week_days.each do |day| -%>
        <th><%= t("week_days.#{day}") %></th>
      <%- end -%>
    </tr>
  </thead>

  <tbody>
    <%- hours.each do |hour| -%>
      <tr>
        <th><%= hour %></th>
        <%- week_days.each do |day| -%>
          <td>
            <%- if reservation=find_reservation(hour, day) -%>
              <%- if reserved_for_current_user?(reservation) -%>
                <%= render :partial => 'reserved_room', :locals => { reservation: reservation } %>
              <%- else -%>
                Reservado para <%= reserved_for(reservation) %>
              <%- end -%>
            <%- else -%>
              <%= render :partial => 'available_room', :locals => { hour: hour, day: day } %>
            <%- end -%>
          </td>
        <%- end -%>
      </tr>
    <%- end -%>
  </tbody>
</table>