<h1>Reserva de Sala</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>
        <div>Horário</div>
      </th>
      <%- week_days.each do |day| -%>
        <th>
          <div class='text-center'>
            <%= t("week_days.#{day}") %>
          </div>
        </th>
      <%- end -%>
    </tr>
  </thead>

  <tbody>
    <%- hours.each do |hour| -%>
      <tr>
        <th>
          <div><%= hour %></div>
        </th>
        <%- week_days.each do |day| -%>
          <td>
            <div class='text-center' id='window-<%= remove_colons(hour) %>-<%= day %>'>
              <%- if reservation=find_reservation(hour, day) -%>
                <%- if reserved_for_current_user?(reservation) -%>
                  <%= render :partial => 'reserved_room', :locals => { reservation: reservation } %>
                <%- else -%>
                    <span id="reserved-<%= remove_colons(hour) %>-<%= day %>">Reservado para <%= reserved_for(reservation) %></span>
                <%- end -%>
              <%- else -%>
                <%= render :partial => 'available_room', :locals => { hour: hour, day: day } %>
              <%- end -%>
            </div>
          </td>
        <%- end -%>
      </tr>
    <%- end -%>
  </tbody>
</table>